@font-face {
  font-family: 'Nohemi-bold';
  src: url('../fonts/NohemiBold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Nohemi-reguler';
  src: url('../fonts/NohemiRegular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nohemi-semibold';
  src: url('../fonts/NohemiSemiBold.otf') format('opentype');
  font-weight: 600;
}

.container {
  display: flex;
  width: 100wh;
  background-color: #f3f3f3;
  padding: 20px 80px;
}

.main {
  font-family: Nohemi-reguler, 'san-serif';
  width: 100%;
}
.sideBar{
  width: 320px;
}
.filterBar{
  margin: 20px 20px 0px 0px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}
.filterBar button{
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 0px;
  background-color: #65647C;
  color: white;
}
