@font-face {
  font-family: 'Nohemi-bold';
  src: url('../fonts/NohemiBold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Nohemi-reguler';
  src: url('../fonts/NohemiRegular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Nohemi-semibold';
  src: url('../fonts/NohemiSemiBold.otf') format('opentype');
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  width: 100wh;
  align-items: center;
}


.main {
  font-family: Nohemi-reguler, 'san-serif';
}

